@function spectrum() {
  $spectrum: '';
  $stop-unit: 100 / 360;
  @for $h from 0 through 360 {
    $stop: $stop-unit * $h;
    $spectrum: $spectrum + ', hsl(#{$h}, 100%, 50%) #{$stop}%';
  }
  @return $spectrum;
}

@mixin visuallyhidden() {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

@mixin visuallyvisible($margin: 0) {
  position: static;

  overflow: visible;
  clip: auto;

  width: auto;
  height: auto;
  margin: $margin;
}
