$white: #fff;
$black: #000;

// Brand Colors
$offwhite: hsl(0, 0%, 93%);
$pink: hsl(340, 65%, 62%);
$peach: hsl(23, 86%, 78%);
$pink-peach: mix($pink, $peach);
$pastel-yellow: hsl(48, 100%, 87%);
$slate: hsl(340, 7%, 14%);
$wine: hsl(340, 34%, 28%);
$white-on-color: hsla(0, 100%, 100%, .47);
$black-on-color: hsla(0, 100%, 0%, .37);
$black-on-color-opaque: hsl(0, 0%, 63%);
$shadow-subtle: 0 0 2px hsla(0, 0%, 0%, .2);
$shadow-depth: 0 2px 5px hsla(0, 0%, 0%, .1);
$shadow-dropdown: 0 1px 4px hsla(0, 0%, 0%, .27);

// Misc
$font-stack: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
