.colorpicker {
  height: 100%;
  padding: 20px;

  background: $white;
}

.colorpicker-head {
  line-height: 45px;
}

.swatch-label {
  font-size: 16px;
  font-weight: 500;

  display: block;

  margin-bottom: 6px;
}

.colorpicker-close {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;
  transition: color 140ms ease-in-out;
  &:hover {
    color: $slate;
  }
}

.colorpicker-body {
  position: relative;

  padding: 0 45px 0 15px;
}

.colorpicker-field {
  font-size: 14px;
  font-weight: 500;

  display: block;

  width: 100%;
  margin: 0 auto;
  padding: 8px 0;

  transition: all 140ms ease-in-out;
  text-align: center;
  letter-spacing: .1em;

  color: $slate;
  border: 0;
  border-radius: 3px;
  background: hsl(0, 0%, 97%);

  &:focus {
    background: hsl(0, 0%, 91%);
  }
}
